<template>
  <v-container fluid class="fill-height pa-md-0">
    <v-row class="align-center justify-center">
      <v-col
          cols="12"
          md="6"
      >
        <img
            src="~/assets/images/login.jpg"
            class="h-screen max-w-100 d-md-block d-none" alt=""/>
        <img
            src="~/assets/images/login-mob.png"
            class="img-fluid d-sm-block d-md-none" alt=""/>
      </v-col>
      <v-col
          cols="12"
          md="6"
          class="align-center justify-center"
      >
        <v-row class="px-6">
          <v-col cols="12" md="6" class="text-right">
            <div class="text-right font-weight-bold">سلام روژایی عزیز</div>
            <v-form v-model="formIsValid" @submit.prevent>
              <div class="mt-5">
                <label class="mb-1 d-block">شماره موبایل </label>
                <v-text-field
                    v-model.trim="mobile"
                    :rules="mobileRules"
                    density="default"
                ></v-text-field>
              </div>
              <v-btn block
                     type="submit"
                     :disabled="!formIsValid"
                     class="text-white bg--primary--color my-6"
                     @click="sendOtp">ادامه
              </v-btn>
            </v-form>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>

export default {
  name: "index",
  data() {
    return {
      mobile: null,
      formIsValid: false,
      mobileRules: [
        v => !!v || 'شماره موبایل الزامی می باشد',
        v => /^(\+98|0098|98|0)?9\d{9}$/.test(v) || 'فرمت شماره موبایل صحیح نمی باشد',
      ]
      }
    },
  methods: {
    sendOtp() {
      this.$router.push(`/auth/verify?mobile=${this.mobile}`)
    }
  }
}
</script>

<style scoped>
.img-fluid{
  max-width: 100%;
  height: auto;
}
</style>