<template>
  <v-container fluid class="fill-height pa-md-0">
    <v-row class="align-center justify-center">
      <v-col
          cols="12"
          sm="6"
      >
        <img
            src="~/assets/images/login.jpg"
            class=" v-responsive-img" alt=""/>
      </v-col>
      <v-col
          cols="12"
          sm="6"
      >
        <v-row class="px-2">
          <v-col cols="12" md="6" class="text-right">
            <div class="text-right font-weight-bold">سلام روژایی عزیز</div>
            <v-form v-model="formIsValid" @submit.prevent>
              <div class="mt-5">
                <label class="mb-1 d-block">شماره موبایل </label>
                <v-text-field
                    density="default"
                    v-model.trim="mobile"
                    readonly="true"
                ></v-text-field>
              </div>
              <v-alert  type="success"
                        variant="tonal"
                        class="mb-3 text-right"
                        text="کد ورود برای شما ارسال شد"></v-alert>

              <div class="mt-5">
                <label class="mb-1 d-block">لطفا کد ارسال شده را وارد نمایید </label>
                <v-text-field
                   density="default"
                   v-model="code"
                   :rules="codeRules"
                ></v-text-field>
              </div>
              <v-btn block
                     type="submit"
                     :disabled="!formIsValid"
                     @click="verifyOto"
                  class="text-white bg--primary--color" >ورود به حساب</v-btn>
            </v-form>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>

export default {
  name: "verify",

  data() {
    return {
      mobile: null,
      code: null,
      codeRules: [
        v => !!v || 'کد الزامی می باشد',
      ],
      formIsValid:false
    }
  },
  methods: {
    verifyOto() {

    }
  },
  mounted() {
    const route = useRoute();
    this.mobile = route.query.mobile
  }
}
</script>

<style scoped>
.v-responsive-img {
  max-width: 100%;  /* Make the image responsive by setting a maximum width */
  height: auto;    /* Automatically adjust the height to maintain aspect ratio */
}
</style>